@model VoteIt.Models.Feed

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Feed</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FeedId" />
            <div class="form-group">
                <label asp-for="FeedTitle" class="control-label"></label>
                <input asp-for="FeedTitle" class="form-control" />
                <span asp-validation-for="FeedTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeedLike" class="control-label"></label>
                <input asp-for="FeedLike" class="form-control" />
                <span asp-validation-for="FeedLike" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeedCreatedDateTime" class="control-label"></label>
                <input asp-for="FeedCreatedDateTime" class="form-control" />
                <span asp-validation-for="FeedCreatedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeedCreatedUser" class="control-label"></label>
                <input asp-for="FeedCreatedUser" class="form-control" />
                <span asp-validation-for="FeedCreatedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="FeedValidFlag" /> @Html.DisplayNameFor(model => model.FeedValidFlag)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
