@model IEnumerable<VoteIt.Models.Feed>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutVoteIt.cshtml";
}

<h2>Vote It !</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/images/thumbs-up.svg" class="like" />
                @Html.DisplayFor(modelItem => item.FeedLike)
                <img src="~/images/thumbs-up.svg" class="unlike"/>
            </td>
            <td>
                <span class="feed">
                    @Html.DisplayFor(modelItem => item.FeedTitle)
                </span>
                <br>
                <span class="feedInfo">
                    @Html.DisplayFor(modelItem => item.FeedCreatedUser)
                    , 
                    @item.FeedCreatedDateTime.ToString("yyyy/MM/dd HH:mm:ss")
                </span>
            </td>
        </tr>
}
    </tbody>
</table>
